*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
.display{
    margin-bottom: 10px;
}
.display input{
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    outline: #dadada;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
button{
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    outline: none;
    border: none;
    /* background: #F7B787; */
    background: #dadada;
    color: #000;
    font-weight: 500;
}
#equalto{
    background-color: #EE7214;
}
button:hover{
    background-color: #BAD7E9;
    color: white;
}
#equalto:hover{
    background: #292C6D;
}